* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    scroll-behavior: smooth;
}


/* a-propos */

section{
    margin: 0 20px;
    box-sizing: border-box;
    line-height: 1.5;
    
}
.content_apropos::before{
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    
   
}
.apropos{
    margin-top: 150px;
    padding: 10px;
    background-color: rgb(235, 235, 243);
    
}
.mission{
    margin-top: 5%;
    padding: 10px;
    margin-left: 20%;
}
.vision{
    margin-top: 5%;
    padding: 10px;
}

.valeur-atouts{
    display: flex;
   
}
.valeur{
    margin-left: 2%;
    margin-top: 5%;
    padding: 10px;
    padding-left: 30px;
    width: 50%;
}
.atouts{
    margin-left: 8%;
    margin-top: 5%;
    padding: 10px;
    padding-left: 30px;
    width: 50%;
}
.service{
    margin: 5% auto;
    padding: 10px;
}
.apropos,
.atouts, 
.mission, 
.service, 
.vision, 
.valeur {
    border: 1px solid #201e2e;
    border-radius:6px;
    background-color:  #201e2e;
    box-shadow: 0 0 10px .1px #201e2e;
    text-align: justify;
    color: white;
    
}
section h1{
    font-family: Merienda, 'cursive';
}

/* responsive page  */
@media all and (max-device-width: 768px){
    .valeur-atouts{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .valeur{
        margin-top: 5%;
        padding: 10px;
        padding-left: 30px;
        width: 60%;
    }
    .atouts{
        margin-left: 10%;
        margin-top: 5%;
        padding: 10px;
        padding-left: 30px;
        width: 60%;
    }
}