* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    scroll-behavior: smooth;
}


/* a-propos */

section{
    margin: 0 2%;
    box-sizing: border-box;
    line-height: 1.5;
}
.apropos{
    margin-top: 10%;
    padding: 10px;
    background-color: rgb(235, 235, 243);
    
}
.mission{
    margin-top: 5%;
    padding: 10px;
    margin-left: 20%;
}
.vision{
    margin-top: 5%;
    padding: 10px;
}

.valeur-atouts{
    display: flex;
   
}
.valeur{
    margin-left: 2%;
    margin-top: 5%;
    padding: 10px;
    padding-left: 30px;
    width: 50%;
}
.atouts{
    margin-left: 8%;
    margin-top: 5%;
    padding: 10px;
    padding-left: 30px;
    width: 50%;
}
.operation{
    margin: 5% auto;
    padding: 10px;
}
.apropos,
.atouts, 
.mission, 
.operation, 
.vision, 
.valeur {
    border: 1px solid rgb(235, 235, 243);
    border-radius:6px;
    background-color: rgb(235, 235, 243);
    box-shadow: 0 0 5px 0.1px ;
    text-align: justify;
    
}
section h1{
    font-family: Merienda, 'cursive';
}
/* responsive page  */
@media all and (max-device-width: 1024px){
    .valeur-atouts{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .valeur{
        margin-top: 5%;
        padding: 10px;
        padding-left: 30px;
        width: 60%;
    }
    .atouts{
        margin-left: 10%;
        margin-top: 5%;
        padding: 10px;
        padding-left: 30px;
        width: 60%;
    }
}