@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merienda:wght@400;700&display=swap');
.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 16px;
    width: 100%;
    text-align: justify;
}

#pp-image {
    display: inline-block;
    overflow: hidden;
    /* background: #201E2E; */
    margin-left: 8px;
    border: 1px solid grey;
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

#pp-image img {
    height: 42x;
    border-radius: 50%;
    width: 42px;
}

header {
    display: flex;
    margin: 0;
    padding: 15px 50px;
    left: 0;
    top: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 1;
}

header h1 span {
    color: red;
    font-family: 'Lobster', cursive;
}

nav ul li {
    display: inline;
    list-style: none;
    font-size: 1.2em;
    text-transform: capitalize;
}

header>h1>a,
header>h1>a:link,
header>h1>a:active,
header>h1>a:visited {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-family: 'Lobster', cursive !important;
    font-weight: 700;
}

nav {
    max-width: 1024px;
    margin: 0;
    user-select: none;
}

nav>ul {
    list-style: none;
    display: flex;
    align-items: center;
    text-align: right;
    padding: 0 24px;
}

nav>ul>li {
    display: inline-block;
    position: relative;
}

nav>ul>li>a {
    display: inline-block;
    padding: 4px 16px;
    text-decoration: none;
    position: relative;
}

nav>ul>li>* {
    z-index: 2;
    position: relative;
}

nav>ul>li:hover a {
    color: white;
    cursor: pointer;
}

nav>ul>li::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 80%;
    transition: .3s;
    transform: scale(0);
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    z-index: 0;
}

nav>ul>li:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 80%;
    transition: .3s;
    transform: scale(1);
    background: red;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    z-index: 0;
}

nav>ul>li::after {
    content: '';
    z-index: 1;
    position: absolute;
    width: 85%;
    height: 115%;
    transform: rotate(0deg) scale(0);
    transition-duration: .3s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

nav>ul>li:hover::after {
    content: '';
    z-index: 0;
    position: absolute;
    width: 85%;
    height: 115%;
    transform: rotate(4deg) scale(1);
    transition-delay: .1s;
    transition-duration: .3s;
    background: orange;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

nav a,
nav a:link,
nav a:active,
nav a:visited {
    text-decoration: none;
}

nav a:visited,
nav a:link {
    color: black;
}

header h1 {
    color: black;
}

.app_name {
    font-family: Babylonica, 'cursive';
    font-weight: 700;
    /* color: rgb(0, 200, 0) !important; */
    /* color: #004400 !important; */
    /* color: rgba(0, 0, 0, .5) !important; */
    /* color: #000000aa !important; */
    color: hwb(0 100% 0%) !important;
    /* font-size: 29px;
    font-style: italic;
    color: azure;
    text-decoration: none;
    text-align: center;
    text-overflow: ellipsis;
    max-width: 100px; */
    /* white-space: nowrap; */
    /* overflow: hidden;
    text-shadow: 10px 10px 20px red;
    text-indent: 100px;
    text-transform: capitalize; */
    /* text-orientation:; */
    /* line-height: 1.5;
    letter-spacing: 10px;
    line-break: auto; */
    /* word-break: break-all; */
}

* {
    font-family: Montserrat, 'serif';
    line-height: 1.5;
}

body {
    background-image: url('../images/background1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}


/* pied de page  */

.footer_section {
    background-color: #201e2e;
    color: white;
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
}

footer a,
footer a:link,
footer a:active,
footer a:visited {
    text-decoration: none;
}

footer a {
    color: white;
}

.items a:hover {
    color: orange;
    transition: 0.3s;
}

footer h4,
.footer_detail a {
    font-family: Merienda, 'cursive';
    padding-bottom: 20px;
}

.footer_contact,
.footer_detail,
.footer-openning {
    margin: 10px 30px;
    text-align: center;
    width: 300px;
}

.footer-info {
    text-align: center;
    margin-top: 30px;
}

.items {
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer_detail {
    flex: 1;
}

.footer_social {
    margin-top: 30px;
}

.contact p,
.footer-openning p {
    margin: 4px auto;
}


/* responsive */

@media all and (max-width: 768px) {
    .items {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: center;
    }
}