* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   position: relative;
   scroll-behavior: smooth;
}
section h2{
   font-size: 3em;
   text-transform: uppercase;
   /* color: white; */
   font-family: Merienda, 'cursive';
   text-align: center;
   margin-bottom: 32px;
}

.form-rows {
   display: flex;
   align-items: center;
   justify-content: center;

}
.message{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-top: 16px;
}
#msg{
   cursor: pointer;
}
.card-formulaire{
   margin-top: 200px;
   margin-bottom: 80px;
   background-color: white;
   border-radius: 16px;
   padding: 32px ;
   min-width: 50%
}
.card{
   display: flex;
   justify-content: center;
  
}
input, textarea{
   display: block;
   width: 100%;
   margin: 12px auto;
   padding: 16px;
   border-radius: 6px;
   border: 2px;
   font-weight: 700;
   background: 	 rgba(216, 212, 212, 0.4); 
   font-weight: 600;
   border: 1px;
}
form input[type=submit] {
   color: white;
   font-size: 1.2em;
   border-radius: 20px;
   cursor: pointer;
   padding: 8px;
   font-weight: 500;
   margin: 15px auto;
   border: 4px black;
   background: red;
  
}
input[type=submit]:active {
   color: #fff;
   background-color: red;
   transition: 0.3s;
   transform: scale(0.9);
}

input::placeholder{
    color: rgb(185, 179, 179);
    font-weight: 600;
}
.card::before{
   content: '';
   z-index: -2;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .6);
}
.card:hover::after{
   transition: .2s;
   background-color: rgba(0, 0, 0, .3);
}
.card::after{
   content: '';
   z-index: -1;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transition: .3s;
}