html body{
margin: 0;
padding: 0;
}
header {
   min-height: 60px;
   padding-top: 24px;
   position: relative;
   overflow: hidden;
}

nav>ul {
   list-style: none;
}

nav>ul>li {
   display: inline-block;
}

nav>ul>li>a {
   display: inline-block;
   padding: 5px 8px;
   text-decoration: none;
   color: black;
}

nav>ul>li>a:hover {
   background-color: rgb(179, 195, 245);
   color: white;
   cursor: pointer;
}

header>div {
   padding: 24px 0;
   text-align: center;
}

header>h1 {
   margin-top: 0;
}
br>a {
   text-align: center;
}

.form-row {
   display: inline-table;
   width: 50%;
   margin: 0 auto;
   margin-bottom: 5px;
}

form select,
form input {
   display: inline-table;
   width: 50%;
   margin: 15px 10px;
   padding: 5px;
   border-radius: 2px;
   border: 1px solid gray;
   font-weight: 700;
   background: #eee;
}
.form input[type=submit] {
   color: white;
   font-size: 1.2em;
   border-radius: 20px;
   cursor: pointer;
   padding: 8px;
   font-weight: 50;
   width: 10%;
   margin: 10px auto;
   border: 4px;
   letter-spacing: 0;
   background: rgb(31, 44, 235);
}