html, body{
margin: 0;
padding: 0;
}
header{
    background-color: grey;
    min-height: 15px;
    padding-top: 20px;
}

nav>ul {
   list-style: none;
}

nav>ul>li {
   display: inline-block;
}

nav>ul>li>a {
   display: inline-block;
   padding: 5px 8px;
   text-decoration: none;
   color: black;
}

nav>ul>li>a:hover {
   background-color: wheat;
   color: white;
   cursor: pointer;
}

header>div {
   padding: 24px 0;
   text-align: center;
}

header>h1 {
   margin-top: 0;
}
br>a {
   text-align: center;
}