html,
body {
    margin: 0;
    padding: 0;
}

header {
    min-height: 200px;
    background: grey;
    padding-top: 24px;
}

nav>ul {
    list-style: none;
}

nav>ul>li {
    display: inline-block;
}

nav>ul>li>a {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}

nav>ul>li>a:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

header>div {
    padding: 24px 0;
    text-align: center;
}

header>h1 {
    margin-top: 0;
}