html,
body {
    margin: 0;
    padding: 0;
}

#name {
    /* color: white; */
}

header {
    min-height: 600px;
    padding-top: 24px;
    position: relative;
    overflow: hidden;
}

header:hover::before {
    filter: blur(4px);
    transform: rotate(1deg) scale(1.07);
    transition: .2s linear;
}

header::before {
    content: '';
    z-index: 0;
    background-color: grey;
    transition: .3s linear;
    background-image: url('./../images/bg-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    z-index: 1;
}

header>* {
    position: relative;
    z-index: 2;
}

nav a,
nav a:link,
nav a:active,
nav a:visited {
    color: white;
}

header>div {
    padding: 24px 0;
    text-align: center;
}

header>h1 {
    margin-top: 0;
}

.presentation-card {
    width: 200px;
    height: 150px;
    display: inline-block;
    margin: 0 24px;
    background-color: #fff;
    border-radius: 4px;
    padding: 24px 0;
}

#presentation {
    /* display: ; */
}