* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    scroll-behavior: smooth;
}

#name {
    /* color: white; */
}

.content_navbar {
    min-height: 100vh;
    padding-top: 24px;
    overflow: hidden;
    position: relative;
}

.navbar {
    display: flex;
    margin: 0;
    padding: 15px 50px;
    left: 0;
    top: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.6);
    position: fixed;
    z-index: 3;
   box-sizing: border-box;

}

header:hover::before {
    filter: blur(4px);
    transform: rotate(1deg) scale(1.07);
    transition: .2s linear;
}

header::before {
    content: '';
    z-index: -1;
    transition: .3s linear;
    background-image: url('./../images/bg-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 1;
}

header>* {
    position: relative;
    z-index: 2;
}

header h1 span {
    color: red;
    font-family: 'Lobster', cursive;
}

nav ul li {
    display: inline;
    list-style: none;
    font-size: 1.2em;
    text-transform: capitalize;
}

header h1 a,
header h1 a:link,
header h1 a:active,
header h1 a:visited {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-family: 'Lobster', cursive !important;
    font-weight: 700;
}

nav {
    max-width: 1024px;
    margin: 0;
}

nav ul {
    list-style: none;
    display: block;
    text-align: right;
    padding: 0 24px;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: inline-block;
    padding: 4px 16px;
    text-decoration: none;
    position: relative;
}

nav>ul>li>* {
    z-index: 2;
    position: relative;
}

.navbar nav>ul>li:hover a {
    color: white;
    cursor: pointer;
}

.navbar nav ul li::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 80%;
    transition: .3s;
    transform: scale(0);
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    z-index: 0;
}

.navbar nav ul li:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 80%;
    transition: .3s;
    transform: scale(1);
    background: red;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    z-index: 0;
}

nav>ul>li::after {
    content: '';
    z-index: 1;
    position: absolute;
    width: 85%;
    height: 115%;
    transform: rotate(0deg) scale(0);
    transition-duration: .3s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

nav>ul>li:hover::after {
    content: '';
    z-index: 0;
    position: absolute;
    width: 85%;
    height: 115%;
    transform: rotate(4deg) scale(1);
    transition-delay: .1s;
    transition-duration: .3s;
    background: orange;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

nav a,
nav a:link,
nav a:active,
nav a:visited{
    text-decoration: none;
}

nav a:visited,
nav a:link {
    color:black;
}

header h1 {
    color: black;
}

.greetings_goodeat {
    max-width: 1000px;
    margin-left: 20%;
    color: white;

}

.greetings_goodeat h1 {
    color: white;
}
.greetings_goodeat p{
    margin-bottom: 16px;
}
.greetings_goodeat button {
    background-color: red;
    border: 1px solid red;
    padding: 8px;
    font-weight: 800;
    font-size: 1em;
    border-radius: 6px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}
.greetings_goodeat button:active {
    color: #fff;
    transition: 0.3s;
    transform: scale(0.9);
}
/* section accueil */
#acceuil{
    display: flex;
    flex-direction: column;
   align-items: center;
}

/* our menu */

.content_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
    padding: 30px 16px;
    width: 100%;
}
.content_menu h1{
    text-transform: capitalize;
    font-family: Merienda, 'cursive';
}
.our_menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.menu_items{
    width: 300px;
    background-color:  #201e2e;
    color: white;
    border-radius: 14px 14px 10px 10px;
    border: 1px solid white;
    box-shadow: 0px 0px 16px  rgba(0, 0, 0, 0.2);
    margin: 20px auto;
   
}
.img_menu{
    background-color: rgb(221, 217, 217);
    border-radius:10px 10px 0 50px ; 
    width: 100%;
    padding: 0;
   text-align: center;
   
}
.descri_menu{
    padding: 16px;
    box-sizing: border-box;
}
.descri_menu p{
    margin-bottom: 10px;
}
.descri_menu h1{
    text-transform: uppercase;
}
.content_menu button,
.story button{
    background-color: red;
    color: white;
    padding: 10px;
    font-weight: 600;
    border: 1px solid red;
    border-radius: 4px;
    margin-top: 32px;
}

/* le chef cuisiniers */
.our_chef{
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.word_chef{
    text-align: center;
    color: white;
    width: 70%;
}
.word_chef h1{
    text-transform: capitalize;
    font-family: Merienda, 'cursive';
}

/* story goodeat */
.story_goodeat{
    display: flex;
    justify-content: space-around;
    padding: 32px 16px;
    background-color: white;
}
.image_restaurant{
    border: 3px solid red;
     border-radius: 20px; 
    width: 50%;
    height: 500px;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url('../images/restaurant-pictures.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 16px  rgba(0, 0, 0, 0.2);
}
.story{
    width: 40%;
    text-align: left;
}
.story h1{
    text-transform: capitalize;
    font-family: Merienda, 'cursive';
    margin-bottom: 16px;
}

/* avis client */
.avis{
    text-align: center;
    color: white;
    width: 40%;
    padding: 36px 0;
}
.avis h1{
    text-transform: capitalize;
    font-family: Merienda, 'cursive';
}
#acceuil::before{
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}
@media all and (max-width: 768px) {
    .story_goodeat{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .image_restaurant,
    .story{
        width: 80%;
        margin: 16px 0;
    }
}