html,
body {
    margin: 0;
    padding: 0;
}

#name {
    /* color: white; */
}

header {
    min-height: 600px;
    padding-top: 24px;
    position: relative;
    overflow: hidden;
}

header:hover::before {
    filter: blur(4px);
    transform: rotate(1deg) scale(1.07);
    transition: .2s linear;
}

header::before {
    content: '';
    z-index: 0;
    background-color: grey;
    transition: .3s linear;
    background-image: url('./../images/bg-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    z-index: 1;
}

header>* {
    position: relative;
    z-index: 2;
}

nav>ul {
    list-style: none;
    display: block;
    text-align: right;
    padding: 0 24px;
}

nav>ul>li {
    display: inline-block;
    position: relative;
    padding: 0 4px;
}

nav>ul>li>a {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    position: relative;
}

nav>ul>li>* {
    z-index: 2;
    position: relative;
}

nav>ul>li>a:hover {
    /* background-color: red; */
    color: white;
    cursor: pointer;
}

nav>ul>li::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 80%;
    transition: .3s;
    transform: scale(0);
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    z-index: 0;
}

nav>ul>li:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 80%;
    transition: .3s;
    transform: scale(1);
    background: red;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    z-index: 0;
}

nav>ul>li::after {
    content: '';
    z-index: 1;
    position: absolute;
    width: 85%;
    height: 115%;
    transform: rotate(0deg) scale(0);
    transition-duration: .3s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

nav>ul>li:hover::after {
    content: '';
    z-index: 0;
    position: absolute;
    width: 85%;
    height: 115%;
    transform: rotate(4deg) scale(1);
    transition-delay: .1s;
    transition-duration: .3s;
    background: orange;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

header>div {
    padding: 24px 0;
    text-align: center;
}

header>h1 {
    margin-top: 0;
}

.presentation-card {
    width: 200px;
    height: 150px;
    display: inline-block;
    margin: 0 24px;
    background-color: #fff;
    border-radius: 4px;
    padding: 24px 0;
}

#presentation {
    /* display: ; */
}