* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    scroll-behavior: smooth;
}

#sect-menu{
    margin-top: 120px;
     background-color: white; 
    padding: 32px 0;
    height: 100%;
    z-index: 1;
}
.img_menu {
    background-color: rgb(241, 242, 243);
    border-radius: 0px 0px 0px 50px;
    width: 100%;
    padding: 14px 0;
    position: relative;
    text-align: center;
    z-index: 2;
}

.card-container{
     width: 100%; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    column-gap: 24px;
    position: relative;
}

.card-wrapper{
    position: relative ;
    perspective: 2000px;
    perspective-origin: top;
  
   
}
.card-wrapper:hover .card{
    transform: rotateY(180deg);
}
.card{
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.3s cubic-bezier(0.86,0,0.07,1);
    color: white;
    width: 300px;
    height: 404px;
    /* background-color: black; */
    border-radius: 10px;
    overflow: hidden;
}
.front-card, 
.back-card__full-description{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
   -webkit-backface-visibility: hidden;

}
.front-card{
  /* background-color: black; */
}
/* .card-wrapper .front-card .descri_menu:nth-child(even) {
    background-color: red; 
} */
.back-card__full-description{
    background-color: #201e2e;  

}

.descri_menu {
    box-sizing: border-box;
    padding: 64px 28px 32px ;
    margin-top: -50px   ;
     height: 100%; 
    width: 100%; 
    background-color: #201e2e;
}

.descri_menu p {
    margin-bottom: 10px;
    text-align: left;
    font-size: 14px;
}

.descri_menu h1 {
    /* margin: 6px 0; */
    text-transform: uppercase;
} 
