 html, body{
     margin: 0;
     padding: 0;
 }
  header {
    background-color: grey;
    min-height: 15px;
    padding-top: 20px;
    display: grid;
    right: 0;
 }

 nav>ul {
    list-style: none;
}

nav>ul>li {
    display: inline-block;
}
.menu-item {
    padding: 10px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}

nav>ul>li>a {
    display: inline-block;
    padding: 5px 8px;
    text-decoration: none;
    color: black;
}

nav>ul>li>a:hover {
    background-color: wheat;
    color: white;
    cursor: pointer;
}

header>div {
    padding: 24px 0;
    text-align: center;
}

header>h1 {
    margin-top: 0;
}