 html,
 body {
     margin: 0;
     padding: 0;
 }
 
 header {
     background-color: white;
     min-height: 15px;
     padding-top: 20px;
     display: grid;
     right: 0;
 }
 
 nav>ul {
     list-style: none;
 }
 
 html {
     position: relative;
     scroll-behavior: smooth;
 }
 
 .menu-item {
     display: inline-block;
     padding: 50px;
     max-width: 200px;
     box-shadow: 2px 2px 10px .1px rgba(0, 0, 10, .1)
 }
 
 .menu-item:hover {
     border-radius: 10px;
     box-shadow: 2px 2px 16px .1px rgba(0, 0, 10, .15);
 }
 
 .menu-item::after {
     position: absolute;
     width: 100%;
     height: 100;
 }
 
 nav>ul>li>a {
     display: inline-block;
     padding: 5px 8px;
     text-decoration: none;
     color: black;
 }
 
 nav>ul>li>a:hover {
     background-color: wheat;
     color: white;
     cursor: pointer;
 }
 
 header>div {
     padding: 24px 0;
     text-align: center;
 }
 
 header>h1 {
     margin-top: 0;
 }
 
 #jus {
     background-color: white;
 }
 #jus::after{
     backdrop-filter: 100px;
 }