* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    position: relative;
    scroll-behavior: smooth;
}
#home_menu{
    margin-top: 150px;
}
#nosjus{
    display: flex;
    background-color: black;
    color: white;
    border-radius: 6px ;
    width: 270px;
}
#nosjus img{
    border-radius: 6px 6px 6px 40px;
}