* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    scroll-behavior: smooth;
}


/*en-tete de page*/

header {
    display: flex;
    margin: 0;
    padding: 15px 50px;
    left: 0;
    top: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255, 255);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 1;
}

header h1 {
    color: dark;
    text-transform: uppercase;
    font-family: 'Lobster', cursive;
}

header h1 span {
    color: red;
}

nav ul li {
    display: inline;
    list-style: none;
    font-size: 1.2em;
    text-transform: capitalize;
}

nav ul a {
    margin: 0;
    padding: 6px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

nav ul a::before {
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    top: 2px;
    content: "";
    background-color: red;
    transition: 0.5s;
}

nav ul a:hover::before {
    width: 100%;
}

nav ul a::after {
    position: absolute;
    height: 2px;
    width: 0;
    right: 0;
    bottom: 2px;
    content: "";
    background-color: red;
    transition: 0.5s;
}

nav ul a:hover::after {
    width: 100%;
}


/* home reservation */

#home_reservation {
    margin: 0 150px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home_reservation h1 {
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: rgba(28, 104, 13, 0.87);
}

#home_reservation h2 {
    font-size: 1em;
    color: red;
}

#home_reservation p {
    line-height: 1.5;
    font-style: italic;
    margin-top: -10px;
}

#home_reservation button {
    margin: 50px 0;
    padding: 6px 10px;
    text-transform: uppercase;
    border: none;
    background: black;
    position: relative;
    border-radius: 4px;
}

#home_reservation button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#home_reservation button::before {
    position: absolute;
    z-index: -1;
    content: "";
    top: 6px;
    left: 6px;
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 4px;
}

#home_reservation button a:hover {
    letter-spacing: 1px;
    transition: 0.5s;
}


/* card reservation */

#reservation {
    background-image: url("../images/sallerestaurant.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section h2 {
    padding-bottom: 40px;
    margin-top: 20px;
    margin-bottom: -10px;
    text-transform: uppercase;
    color:rgb(7, 4, 196);
}

.card-formulaire {
    background: white;
    height: 350px;
    border-radius: 6px;
    box-shadow: 0 0 16px 0.1px rgba(0, 0, 0, 0.2);
    width: 600px;
    height: 475px;
    margin-bottom: 40px;
}

.card-formulaire h3 {
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 25px;
}

.form-row {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

form select,
form input {
    display: block;
    width: 100%;
    margin: 15px 10px;
    padding: 5px;
    border-radius: 2px;
    border: 2px inset;
    font-weight: 700;
    background: #eee;
}

form input[type=submit] {
    color: white;
    font-size: 1.2em;
    border-radius: 20px;
    cursor: pointer;
    padding: 8px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    width: 50%;
    margin: 60px auto;
    border: 4px black;
    letter-spacing: 4px;
    background: black;
}

form input[type=submit]:hover {
    color: #fff;
    font-weight: bold;
    background-color: rgba(28, 104, 13, 0.87);
    transition: 0.3s;
    box-shadow: 0 0 5px rgba(28, 104, 13, 0.87);
}

footer {
    background-color: #eee;
}

.services_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
}

footer .service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer img {
    border-radius: 50%;
    width: 40px;
    background-color: red;
}

hr {
    background-color: #000;
    margin-top: 50px;
    border: none;
    height: 2px;
    width: 100%;
}

.footer_text {
    text-align: center;
}