* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    scroll-behavior: smooth;
}


/* home reservation */

#home_reservation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-top: 120px;
    padding-left: 16px;
    /* background-color: white; */
    box-shadow: 0px 16px 10px .2px rgba(0, 0, 0, 0.2);
    background-image: radial-gradient(circle at 30%, rgba(255, 255, 255, 0.92) 10%, #fff 30%);
    background-size: cover;

    min-height: 100vh;
    padding: 0 16px;
    /* height: 100%; */
    /* background-image: url('../images/background-home-reservation.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    position: relative;
    z-index: -2;
 
}

.reservation {
    margin-top: 15px;
    box-sizing: border-box;
}
.reservation p{
    box-sizing: border-box;
}

#home_reservation h1 {
    font-size: 3em;
    text-transform: uppercase;
    /* color: white; */
    font-family: Merienda, 'cursive';
}

#home_reservation h2 {
    font-size: 1em;
    color: red;
}

#home_reservation p {
    line-height: 1.5;
    font-style: italic;
    margin: 16px auto 0;
    box-sizing: border-box;
    text-align: justify;
    color: rgba(0, 0, 0, .6);
}

#home_reservation button {
    margin: 50px 0;
    padding: 6px 10px;
    text-transform: uppercase;
    border: none;
    background: black;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
    
    
}

#home_reservation button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    

}

#home_reservation button::before {
    position: absolute;
    content: "";
    top: 6px;
    left: 6px;
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 4px;
    z-index: -1;

}


/* card reservation */

#reservation {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

#reservation::after{
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .3s;


}
#reservation::before{
    content: '';
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);

}
#reservation:hover::after{
    transition: .2s;
    background-color: rgba(0, 0, 0, .3);
}

.content-reservation {
    display: flex;
    border-radius: 6px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 24px auto;
    max-width: 1000px;
    width: 100%;
    box-shadow: 0 0 10px .1px rgb(63, 62, 62);
}

#reservation h2 {
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-family: Merienda, 'cursive';
    padding: 100px auto;
    margin: auto;
}

.card-formulaire {
    background: white;
    padding: 30px 16px;
    width: 50%;
}

.picture-salle-resto {
    background-image: url('../images/sallerestaurant.jpg');
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
}
.picture-salle-resto h2 {
    padding-top: 55px;
    color: white !important;
    z-index: 2;
    position: relative;
    
}
.picture-salle-resto::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .2);
    z-index: 1;
}

/* .picture-salle-resto h3{
    text-align: center;
    color: white ;
} */

.card-formulaire h3 {
    text-align: center;
    color: black;
    margin: 30px auto;
    font-size: 25px;
    font-family: Merienda, 'cursive';
    text-transform: uppercase;
}

.form-row {
    /* display: flex; */
    width: 90%;
    margin: auto;
}

form select,
form input {
    display: block;
    width: 100%;
    margin: 25px auto;
    padding: 16px;
    border-radius: 2px;
    border: 2px;
    font-weight: 700;
    background: #eee; 
    font-weight: 600;
}
input::placeholder{
    color: rgba(216, 212, 212, 0.92);
    font-weight: 600;
}

form input[type=submit] {
    color: white;
    font-size: 1.2em;
    border-radius: 20px;
    cursor: pointer;
    padding: 8px;
    font-weight: 300;
    width: 50%;
    margin: 15px auto;
    border: 4px black;
    background: red;
   
}

form input[type=submit]:active {
    color: #fff;
    background-color: red;
    transition: 0.3s;
    transform: scale(0.9);
}


/* responsive page */

@media all and (max-width: 768px) {
     #home_reservation {
        display: flex;
        flex-direction: column;
      
    } 

    .picture-salle-resto {
       display: none;
    }
    .picture-salle-resto h2{
        display: none;
    }
    .card-formulaire{
        width: 100%;
    }
    .content-reservation{
        max-width: 500px;
    }
    .image_reservation{
        display: none;
    }
   
}

