* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    scroll-behavior: smooth;
}


/* home reservation */

#home_reservation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-top: 120px;
    padding-left: 16px;
    background-color: white;
    /* background-image: radial-gradient(transparent, #fff); */
    min-height: 100vh;
    padding-right: 16px;
    height: 100%;
    /* background-image: url('../images/background-home-reservation.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

.reservation {
    margin-top: 15;
}

#home_reservation h1 {
    font-size: 3em;
    text-transform: uppercase;
    /* color: white; */
    font-family: Merienda, 'cursive';
}

#home_reservation h2 {
    font-size: 1em;
    color: red;
}

#home_reservation p {
    line-height: 1.5;
    font-style: italic;
    margin: 16px auto 0;
    box-sizing: border-box;
    text-align: justify;
    color: rgba(0, 0, 0, .6);
}

#home_reservation button {
    margin: 50px 0;
    padding: 6px 10px;
    text-transform: uppercase;
    border: none;
    background: black;
    position: relative;
    border-radius: 4px;
}

#home_reservation button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#home_reservation button::before {
    position: absolute;
    z-index: -1;
    content: "";
    top: 6px;
    left: 6px;
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 4px;
}

#home_reservation button a:hover {
    letter-spacing: 1px;
    transition: 0.5s;
}


/* card reservation */

.content-reservation {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#reservation h2 {
    margin: 40px auto;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-family: Merienda, 'cursive';
}

.card-formulaire {
    background: white;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 0 0 24px .1px black;
    width: 40%;
    margin-bottom: 4%;
}

.picture-salle-resto {
    width: 40%;
}

.picture-salle-resto img {
    border-radius: 6px;
}

.card-formulaire h3 {
    text-align: center;
    color: black;
    margin: 15px auto;
    font-size: 25px;
    font-family: Merienda, 'cursive';
}

.form-row {
    /* display: flex; */
    width: 90%;
    margin: auto;
}

form select,
form input {
    display: block;
    width: 100%;
    margin: 15px auto;
    padding: 5px;
    border-radius: 2px;
    border: 2px;
    font-weight: 700;
    background: #eee;
}

form input[type=submit] {
    color: white;
    font-size: 1.2em;
    border-radius: 20px;
    cursor: pointer;
    padding: 8px;
    font-weight: 300;
    width: 50%;
    margin: 15px auto;
    border: 4px black;
    background: red;
}

form input[type=submit]:active {
    color: #fff;
    background-color: red;
    transition: 0.3s;
    transform: scale(0.9);
}


/* responsive page */



@media all and (max-device-width: 1024px) {
    #home_reservation {
        display: flex;
        flex-direction: column;
    }
    .card-formulaire {
        width: 70%;
    }
    .picture-salle-resto {
        width: 70%;
    }
    .content-reservation {
        display: flex;
        flex-direction: column-reverse;
    }
}