* {
    margin: 0;
    padding: 0;
}


/*en-tete de page*/

header {
    background-color: #031841;
    height: 30px;
    position: fixed;
    width: 98%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: aliceblue;
    text-transform: uppercase;
    font-family: 'Lobster', cursive;
}

ul li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    border: solid 1px;
    border-radius: 6px;
    background-color: rgb(255, 246, 240);
}

ul li:hover {
    color: white;
    border: black;
    background: #d82902;
    transition: 0.5s;
}

ul li a:hover {
    color: white;
}

ul a {
    text-decoration: none;
}

ul a:link {
    color: black;
}

ul a:visited {
    color: black;
}

ul a:hover {
    color: white
}


/* section reservation */

section {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/sallerestaurant.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.card-reservation {
    display: grid;
    grid-template-columns: 420px 420px;
}

.image-card {
    background: url("../images/table.jpeg") center/cover no-repeat;
}

section h2 {
    padding-bottom: 40px;
    margin-top: 0px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.card-formulaire {
    background: #fff;
    height: 350px;
}

.card-reservation h3 {
    text-align: center;
    color: #000;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 25px;
}

.form-row {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

form select,
form input {
    display: block;
    width: 100%;
    margin: 15px 10px;
    padding: 5px;
    outline: none;
    border-bottom: 1px solid black;
    border: none;
    font-weight: 300;
    background: #eee;
}

form input[type=submit] {
    color: #000;
    border-radius: 20px;
    cursor: pointer;
    padding: 15px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    width: 85%;
    margin: auto;
    margin-top: 25px;
}

form input[type=submit]:hover {
    color: #fff;
    background: #d82902;
    transition: 0.5s;
    transform: scale(1.15);
}

footer {
    background-color: #031841;
    height: 150px;
    width: 100%;
    padding: 20px;
}

footer p,
a {
    margin-top: 10px;
}

.menu-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.footer-service {
    display: flex;
    flex-direction: column;
}

.menu-footer a:link {
    color: #fff;
    text-decoration: none;
}

.menu-footer a:visited {
    color: #fff;
}

.copywrite {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    color: #fff;
}


/* reponsive */

@media(max-width:992px) {
    .card-reservation {
        display: grid;
        grid-template-columns: 100%;
        margin-bottom: 20px;
    }
    .image-card {
        height: 350px;
    }
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section h2 {
        margin-top: 100px;
    }
}