
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 html {
    position: relative;
    scroll-behavior: smooth;
 }
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign_up{
    background-color: white;
    border-radius: 12px;
    max-width: 500px;
    height: 700px;
    padding: 16px 32px;
    transition: .3s;
    margin: 500px auto;
}
.sign_up h1{
    text-align: center;
    text-transform: capitalize;
}

.new{
    display: flex;
    flex-direction: column;
    margin: 16px 0 8px;
   

}
.new label{
    text-align: left;
}
.new input{
    padding: 16px 8px;
    border: 1px solid;
    border-radius: 6px;
}
p{
    text-align: center;
}
button{
    width: 100%;
    background-color: lightgray;
    border: 1px solid;
    border-radius: 12px;
    padding: 16px 8px;
    margin-top: 32px;
}
@media screen and (max-width:425px) { 
    .sign_up{
        background-color:yellow;
        padding: 12px 32px;
        transition: .3s;
        border-radius: 0;
        
    }
}
@media screen and (min-width:426px) {
    .sign_up{
        margin-top: 32px;
      
    }

}