:root {
    --border-color: rgba(0, 0, 0, .1);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 html {
    position: relative;
    scroll-behavior: smooth;
 }
 body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
 }

.auth-container {
    background-color: white;
    width: 500px;
    max-height: 700px;
    margin: auto;
    transition: .3s;
    box-sizing: border-box;
}

form>div {
    display: flex;
    margin: 12px 0 8px;
    flex-direction: column;
    min-width: 290px;
}

form>div input,
button {
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid
}

form button {
    border-color: lightgray;
    box-shadow: 0 0 6px .1px var(--border-color);
    transition: .3s;
    margin-bottom: 16px;
}

form button:hover {
    box-shadow: 0 0 12px .1px var(--border-color);
    transition: .3s;
}

form button:active {
    box-shadow: 0 0 3px .1px var(--border-color);
    transition: .3s;
}

form div:nth-child(3) {
    flex-direction: row;
    align-items: center;
}

.connxion{
   
    margin: 12px 0 8px;
    flex-direction: column;
    min-width: 30px;
    border-left: 2px solid green;
}

.auth-container h1 {
    text-align: center;
}


@media screen and (max-width:425px) {
    .auth-container {
        height: 100%;
        padding: 16px;
        max-height: 100vh;
    }
    .auth-container h1 {
        margin: 12px 0;
    }
}

@media screen and (min-width:426px) {
    .auth-container {
        border-radius: 12px;
        /* background-color: yellow; */
        height: 100%;
        padding: 32px;
        box-shadow: 0 0 16px .1px rgba(0, 0, 0, .3);
    }
    .auth-container h1 {
        margin: 16px 0;
    }
}